# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/
.python-version

# IDE
.vscode/
.idea/

# Project specific
output/
tempdata/
web/data/
web/tempdata/

# System files
.DS_Store
Thumbs.db


# test file
test/

# test py file
test*.py

# deprecated files
*.deprecated