# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Project specific
output/
tempdata/

# System files
.DS_Store
Thumbs.db


# test file
test/